* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
}

html {
    font-size: 100%;
}

h1 {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 250px;
    opacity: 80%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    color: black;
    text-shadow: 1px 1px 2px black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-container .box:hover .card img {
    transform: translate(-3.5rem, -3.5rem);
}

.card-container .box:hover .card {
    transform: translate(3.5rem, 3.5rem);
}

@media screen and (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}